<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>All users</h2>
<br>
<br>
<input type="button" value="Add user"
        onclick="window.location.href = 'admin/formUser'">
<br>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    <tbody th:each="user : ${allUsersList}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.salary}"></td>
            <td>
                <form th:action="@{/admin/updateUser}" method="get">
                    <input type="hidden" th:name="id" th:value="${user.id}" />
                    <button type="submit">Update</button>
                </form>
                <form th:action="@{/admin/deleteUser}" method="get">
                    <input type="hidden" th:name="id" th:value="${user.id}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>