<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User info</h1>

<p>Name: <strong th:text="${user.name}"></strong>
<p>Surname: <strong th:text="${user.surname}"></strong>
<p>Age: <strong th:text="${user.age}"></strong>
<p>Salary: <strong th:text="${user.salary}"></strong>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>